body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .App {
    text-align: center;
    padding-top: 60px; /* Adjust based on your top bar height */
  }
  
  .hero {
    height: 30px;
     /* Adjust based on your content */
    background-color: white;
  }
  .aboutme {
    min-height: 300px;
    background-color: white;
  }
  .projects {
    min-height: 300px;
    background-color: white;
  }
  .certifications {
    min-height: 300px;
    background-color: white;
    flex-wrap: wrap;
    margin: 2rem 0; /* Margin for spacing */
  }
  .experiences {
    min-height: 300px;
    background-color: white;
  }
  
  .link {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .link:hover {
    background-color: #f2f2f2;
  }
  
  
  /* scroll to top button */
  .top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }
  .fixed-top {
    position: fixed; /* Make the element stay in place */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left edge of the viewport */
    width: 100%; /* Make it span the entire width */
    height: 10%;
    /* Add other styles for background color, padding, etc. */
  }
  